.env
.tfstate*
.terraform/
venv/
__pycache__/
.pytest_cache/
prometheus/prometheus
alertmanager/alertmanager
alertmanager/amtool
prometheus/data/
prometheus/wal/
prometheus/snapshots/
prometheus/consoles/
prometheus/console_libraries/

alertmanager/data/
*.log
*.tmp

*.tfstate
*.tfstate.backup
.terraform/




